* {
  font-family: "Marck Script", cursive;
}

h1 {
  text-decoration: underline;
  font-weight: bolder;
}

li {
  font-weight: light;
}

.heading {
  text-shadow: 2px 2px blueviolet;
  text-transform: uppercase;
  font-weight: normal;
}

.note {
  font-weight: bold;
  font-style: italic;
}

.todo-item {
  text-decoration: line-through;
  font-weight: lighter;
}
