html{
    font-family: Patrick Hand, cursive;;
}
h1{
    text-decoration: underline;
}
.heading{
    text-transform: uppercase;
    text-shadow: rgb(18, 95, 95);
}
.note{
    font-weight: bold;
    font-style: italic;
}
.todo{
    text
}

